<h2> Todo Item List </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let todoitem of todoitems">
      <td>{{todoitem.name}}</td>
      <td>{{todoitem.status}}</td>
      <td>
        <button (click)="updateTodoItem(todoitem.id)"
           class="btn btn-info">Update</button>
        <button (click)="deleteTodoItem(todoitem.id)"
           class="btn btn-danger" style="margin-left: 10px">Delete</button>
        <button (click)="todoItemDetails(todoitem.id)"
           class="btn btn-info" style="margin-left: 10px">View</button>
      </td>
    </tr>
  </tbody>
</table>
