<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- <ul class="navbar-nav" ></ul> -->
  <ul >
    <li class="nav-item">
      <a routerLink="todoitems" routerLinkActive="active" class="nav-link">
        Todo List</a>
    </li>
   
    <li class="nav-item">
      <a routerLink="create-todo" routerLinkActive="active" class="nav-link">
        Create Todo Item</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
  <!-- <app-todo-list></app-todo-list> -->
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>Hello Bench</span>
  </div>
</footer>